- if notice
  .ui.grid.centered.vertically.padded
    .ten.wide.column
      .ui.success.message
        %i.close.icon
        = notice
- if alert
  .ui.grid.centered.vertically.padded
    .ten.wide.column
      .ui.error.message
        %i.close.icon
        = alert
.ui.centered.vertically.padded.grid
  .three.wide.column
    = form_tag(authen_login_path, {class: "ui form"}) do
      .ui.attached.blue.segment
        .field
          = text_field_tag :username, params[:username], {placeholder: "Username"}
        .field
          = password_field_tag :password, params[:password], {placeholder: "Password"}
      = button_tag "Login", {type: "submit", class: "ui bottom attached fluid blue button"}
