<% edit ||= false %>
<%= form_for(@user, html: {class: "uk-form uk-form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div class="uk-width-medium-2-5 uk-alert uk-alert-danger" data-uk-alert>
      <a href="" class="uk-alert-close uk-close"></a>
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-form-row">
    <% error = @user.errors[:name].any? ? "uk-form-danger" : "" %>
    <%= f.label :name, {class: "uk-form-label"} %>
    <div class="uk-form-controls">
      <%= f.text_field :name, {class: "uk-form-width-medium #{error}"} %>
    </div>
  </div>
  <div class="uk-form-row">
    <% error = @user.errors[:username].any? ? "uk-form-danger" : "" %>
    <%= f.label :username, {class: "uk-form-label"} %>
    <div class="uk-form-controls">
      <%= f.text_field :username, {class: "uk-form-width-medium #{error}", disabled: edit} %>
    </div>
  </div>
  <div class="uk-form-row">
    <% error = @user.errors[:password].any? ? "uk-form-danger" : "" %>
    <%= f.label :password, {class: "uk-form-label"} %>
   <div class="uk-form-controls"> 
     <%= f.password_field :password, {class: "uk-form-width-medium #{error}"} %>
    </div>
  </div>
  <div class="uk-form-row">
    <% error = @user.errors[:password_confirmation].any? ? "uk-form-danger" : "" %>
    <%= f.label :password_confirmation, {class: "uk-form-label"} %>
    <div class="uk-form-controls">
      <%= f.password_field :password_confirmation, {class: "uk-form-width-medium #{error}"} %>
    </div>
  </div>
  <div class="uk-form-row">
    <%= f.label :privilege, {class: "uk-form-label"} %>
   <div class="uk-form-controls"> 
     <%= f.select :privilege, User::PRIVILEGES, prompt: "Select privilege" %>
    </div>
  </div>
  <div class="uk-form-row">
    <div class="uk-form-controls">
      <%= f.button "Create User", {type: "submit", class: "uk-button"} %>
    </div>
  </div>
<% end %>
