.one.wide.column
.six.wide.column
  = form_for(@user, html: {class: "ui #{"error" if @user.errors.any?} form segment"}) do |f|
    .field{class: "#{"error" if @user.errors[:name].any?}"}
      = f.label :name
      = f.text_field :name
    .field{class: "#{"error" if @user.errors[:username].any?}"}
      = f.label :username
      = f.text_field :username, {disabled: @user.persisted?}
    .field{class: "#{"error" if @user.errors[:password].any?}"}
      = f.label :password
      = f.password_field :password
    .field{class: "#{"error" if @user.errors[:password_confirmation].any?}"}
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    .field{class: "#{"error" if @user.errors[:privilege].any?}"}
      = f.label :privilege
      = f.select :privilege, User::PRIVILEGES, {prompt: true}, {class: "ui dropdown"}
    .ui.divider
    .field
      .ui.right.floated.buttons
        = link_to "Cancel", users_path, {class: "ui button"}
        .or
        = f.submit nil, {class: "positive ui button"}
- if @user.errors.any?
  .six.wide.column
    .ui.error.message
      .header
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul.list
        - @user.errors.full_messages.each do |message|
          %li= message
