- show_password = true
.ui.padded.grid
  .column
    %h1 Listing Users
    %table.ui.striped.blue.table
      %thead
        %tr
          %th= User.human_attribute_name "name"
          %th= User.human_attribute_name "username"
          - if show_password
            %th= User.human_attribute_name "password_digest"
          %th= User.human_attribute_name "privilege"
          %th{colspan: "2"}
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.username
            - if show_password
              %td= user.password_digest
            %td= user.privilege
            %td= link_to semantic_icon("edit") + "Edit", edit_user_path(user)
            %td= link_to semantic_icon("trash") + "Delete", user, method: :delete, data: {confirm: "Are you sure to delete \"#{user.name}\""}
