!!!
%html
  %head
    %title Roi Et City Hotel
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.large.sticky.menu
      = link_to content_tag(:i, "", class: "home icon") + "Main", index_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        %i.users.icon
        Users
        %i.dropdown.icon
        .menu
          = link_to content_tag(:i, "", class: "list icon") + "Users", users_path, {class: "item"}
          = link_to content_tag(:i, "", class: "add circle icon") + "New User", new_user_path, {class: "item"}
      .right.menu
        .ui.pointing.dropdown.link.item
          %i.user.icon
          = session[:user_name]
          %i.dropdown.icon
          .menu
            = link_to content_tag(:i, "", class: "sign out icon") + "ออกจากระบบ", authen_logout_path, method: :delete, data: {confirm: "ยืนยันการออกจากระบบ"}, class: "item"
    - if notice
      .ui.grid.centered.vertically.padded
        .ten.wide.column
          .ui.success.message
            %i.close.icon
            = notice
    - if alert
      .ui.grid.centered.vertically.padded
        .ten.wide.column
          .ui.error.message
            %i.close.icon
            = alert
    = yield
