!!!
%html
  %head
    %title Roi Et City Hotel
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.sticky.menu
      = link_to semantic_icon("home") + "Main", index_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        = semantic_icon("users")
        Customers
        = semantic_icon("dropdown")
        .menu
          = link_to semantic_icon("list") + "Customers", customers_path, {class: "item"}
          = link_to semantic_icon("add circle") + "New Customer", new_customer_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        Reserve
        = semantic_icon("dropdown")
        .menu
          %a.item Dummy
      .ui.pointing.dropdown.link.item
        Rooms
        = semantic_icon("dropdown")
        .menu
          %a.item Dummy
          .item
            = semantic_icon("dropdown")
            %span.text Dummy
            .menu
              %a.item Dummy
      .ui.pointing.dropdown.link.item
        = semantic_icon("users")
        Users
        = semantic_icon("dropdown")
        .menu
          = link_to semantic_icon("list") + "Users", users_path, {class: "item"}
          = link_to semantic_icon("add circle") + "New User", new_user_path, {class: "item"}
      .right.menu
        .ui.pointing.dropdown.link.item
          = semantic_icon("user")
          = session[:user_name]
          = semantic_icon("dropdown")
          .menu
            = link_to semantic_icon("sign out") + "Log Out", authen_logout_path, method: :delete, data: {confirm: "Are you sure to log out?"}, class: "item"
    = yield
    = render "layouts/flash_display"
