!!!
%html
  %head
    %title Roi Et City Hotel
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .ui.large.menu
      = link_to semantic_icon("home") + "Start Here", index_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        = semantic_icon("users")
        Customers
        = semantic_icon("dropdown")
        .menu
          = link_to semantic_icon("list") + "Listing Customers", customers_path, {class: "item"}
          = link_to semantic_icon("add circle") + "Add New Customer", new_customer_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        = semantic_icon("book")
        Booking/Check In
        = semantic_icon("dropdown")
        .menu
          .item
            = semantic_icon("dropdown")
            %span.text Status
            .menu
              = link_to link_to semantic_icon("list") + "Listing Status", reserve_statuses_path, {class: "item"}
              = link_to semantic_icon("add circle") + "Add New Status", new_reserve_status_path, {class: "item"}
          = link_to semantic_icon("list") + "List All Booking", reserves_path, {class: "item"}
          = link_to semantic_icon("add circle") + "Add New Booking", new_reserf_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        = semantic_icon("building")
        Rooms
        = semantic_icon("dropdown")
        .menu
          .item
            = semantic_icon("dropdown")
            %span.text Type
            .menu
              = link_to link_to semantic_icon("list") + "ListingType", room_types_path, {class: "item"}
              = link_to semantic_icon("add circle") + "Add New Type", new_room_type_path, {class: "item"}
          .item
            = semantic_icon("dropdown")
            %span.text Status
            .menu
              = link_to link_to semantic_icon("list") + "Listing Status", room_statuses_path, {class: "item"}
              = link_to semantic_icon("add circle") + "Add New Status", new_room_status_path, {class: "item"}
          = link_to link_to semantic_icon("list") + "Listing All Rooms", rooms_path, {class: "item"}
          = link_to semantic_icon("add circle") + "Add New Room", new_room_path, {class: "item"}
      .ui.pointing.dropdown.link.item
        = semantic_icon("users")
        Users
        = semantic_icon("dropdown")
        .menu
          = link_to semantic_icon("list") + "Listing Users", users_path, {class: "item"}
          = link_to semantic_icon("add circle") + "Add New User", new_user_path, {class: "item"}
      .right.menu
        .ui.pointing.dropdown.link.item
          = semantic_icon("user")
          = session[:user_name]
          = semantic_icon("dropdown")
          .menu
            = link_to semantic_icon("sign out") + "Log Out", authen_logout_path, method: :delete, data: {confirm: "Are you sure to log out?"}, class: "item"
    = yield
    = render "layouts/flash_display"
