.one.wide.column
.six.wide.column
  = form_for(@room_status, html: {class: "ui #{"error" if @room_status.errors.any?} form segment"}) do |f|
    .field{class: "#{"error" if @room_status.errors[:name].any?}"}
      = f.label :name
      = f.text_field :name
    .ui.divider
    .field
      .ui.right.floated.buttons
        = link_to "Cancel", room_statuses_path, {class: "ui button"}
        .or
        = f.submit nil, {class: "positive ui button"}
- if @room_status.errors.any?
  .six.wide.column
    .ui.error.message
      .header
        = pluralize(@room_status.errors.count, "error")
        prohibited this status from being saved:
      %ul.list
        - @room_status.errors.full_messages.each do |message|
          %li= message
